<h1 style="color:yellow;background-color:tomato;text-align:center; font-size:500%" >CatBoost Encoder</h1>

<pre style="color:black;background-color:white;font-size:15px"><b>CatBoost Encoder is a feature encoding method used in machine learning to convert categorical features into numerical features that can be used in machine learning algorithms. Itis a part of the CatBoost library, which 
is a popular gradient boosting framework.

The CatBoost Encoder works by assigning numerical values to each category in a feature based on its 
relationship with the target variable. This encoding method can handle high-cardinality categorical features 
with many unique categories.

The CatBoost Encoder uses two types of encoding techniques: Target Encoding and Count Encoding. Target Encoding replaces each category with the average value of the target variable for that category. Count Encoding replaces each category with the number of times it appears in the data set.

One of the advantages of using CatBoost Encoder is that it can capture the non-linear relationship between categorical features and the target variable. It can also handle missing values in categorical features and can be used with both classification and regression problems.

Overall, CatBoost Encoder is a useful tool for preprocessing categorical features in machine learning models and can improve the performance of the models when compared to other encoding methods.
</pre>

# How to install 
<h1 style="color:yellow;background-color:tomato;text-align:center; font-size:500%" >CatBoost Encoder</h1>

In [1]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\prito\anaconda3\lib\site-packages (2.6.0)
Requirement already satisfied: pandas>=1.0.5 in c:\users\prito\anaconda3\lib\site-packages (from category_encoders) (1.4.3)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\prito\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\prito\anaconda3\lib\site-packages (from category_encoders) (1.23.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\prito\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\prito\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\prito\anaconda3\lib\site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\prito\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\prito\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\prito\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\prito\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prito\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\prito\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\prito\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [2]:
import pandas as pd
import category_encoders as ce

In [3]:
#import data
data = pd.read_csv("supershops.csv")
data.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

<p style="color:yellow;background-color:tomato;text-align:center; font-size:17px" >CatBoostEncoder is the variation of target encoding. It supports time-aware encoding, regularization, and online learning.</p>

In [4]:
#separate train, test data
x = data.drop('Profit', axis = 1)
y = data["Profit"]

In [5]:
#Make object of catboost encoder
cbe_encoder = ce.cat_boost.CatBoostEncoder(a=1)

In [6]:
# CatBoost accepts a set of object properties and model values as input.
#Fits the encoder according to X and y.
cbe_encoder.fit(x, y)
# Perform the transformation to new categorical data.
train_cbe = cbe_encoder.transform(x)

'''
You can perform bost at a time use 
fit_transform(X[, y])
Encoders that utilize the target must make sure that the training data are transformed with
'''

'\nYou can perform bost at a time use \nfit_transform(X[, y])\nEncoders that utilize the target must make sure that the training data are transformed with\n'

In [7]:
train_cbe.head()

   Marketing Spend  Administration  Transport           Area
0        114523.61       136897.80  471784.10  113659.568289
1        162597.70       151377.59  443898.53  104355.589956
2        153441.51       101145.55  407934.54  118376.295835
3        144372.41       118671.85  383199.62  113659.568289
4        142107.34        91391.77  366168.42  118376.295835

- The CatBoost Encoder works by assigning numerical values to each category in a feature based on its relationship with the target variable.

In [8]:
data.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

**Ref :** <a herf="https://contrib.scikit-learn.org/category_encoders/catboost.html">CatBoost Encoder
</a>